{% extends 'base.html.twig' %}

{% block title %}Продукт{% endblock %}

{% block body %}
    <h1>Продукт</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Наименование</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_index') }}">Назад</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Изменить</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
