{% extends 'base.html.twig' %}

{% block title %}Вечеринка{% endblock %}

{% block body %}
    <h1>Вечеринка</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ party.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ party.name }}</td>
            </tr>
            <tr>
                <th>Место проведения</th>
                <td>{{ party.Location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_party_index') }}">Назад</a>

    <a href="{{ path('app_party_edit', {'id': party.id}) }}">Изменить</a>

    {{ include('party/_delete_form.html.twig') }}
{% endblock %}
